
.header-btns {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-left: 10px;
}

.header-btn {
  color: white;
  margin-right: 20px;
  font-weight: 700;
} 